<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MauiApp1.AppConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MauiApp1.AppConfig>
            <setting name="auth" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYzc5N2M4MmNiMGI2MWMyOGQxYTZlMTViNzQ4ODUwYiIsIm5iZiI6MTcyNTUzMTQ0Mi40NDM3ODksInN1YiI6IjY2ZDk4NDkzMzM3NmE1MDNiNmI4ZDVkYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SjJ8YL_CNhrC94D1sFAnjddhBUW5bspE0WvBSZry1eY</value>
            </setting>
        </MauiApp1.AppConfig>
    </applicationSettings>
</configuration>